In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [9]:
df = pd.read_csv('data/stud.csv')

In [10]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
df.shape

(1000, 8)

In [14]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [16]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [17]:
df.duplicated().sum()

np.int64(0)

In [18]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [19]:
def count_values_for_categorical(df):
    # Step 1: Select only categorical columns
    cat_columns = df.select_dtypes(include=['category', 'object']).columns
    
    # Step 2: Loop through each categorical column and get value counts
    value_counts_dict = {}
    for col in cat_columns:
        value_counts_dict[col] = df[col].value_counts()

    # Step 3: Format it nicely (printing)
    for col, counts in value_counts_dict.items():
        print(f"\nColumn: {col}\n")
        print(counts.to_frame('counts').reset_index().rename(columns={'index': 'value'}))
        
# Example usage with your dataframe
count_values_for_categorical(df)

Column: gender

   gender  counts
0  female     518
1    male     482

Column: race_ethnicity

  race_ethnicity  counts
0        group C     319
1        group D     262
2        group B     190
3        group E     140
4        group A      89

Column: parental_level_of_education

  parental_level_of_education  counts
0                some college     226
1          associate's degree     222
2                 high school     196
3            some high school     179
4           bachelor's degree     118
5             master's degree      59

Column: lunch

          lunch  counts
0      standard     645
1  free/reduced     355

Column: test_preparation_course

  test_preparation_course  counts
0                    none     642
1               completed     358

In [31]:
numerical_cols = df.select_dtypes(include=['number']).columns
num_numerical = len(numerical_cols)
num_categorical = df.shape[1] - num_numerical

print(f"Number of numerical features: {num_numerical}")
print(f"Number of categorical features: {num_categorical}")

Number of numerical features: 3
Number of categorical features: 5

In [32]:
df['average_score'] = (df['reading_score'] + df['writing_score'] + df['math_score'])/3

How many students we have with max score in total and in every discipline?

In [37]:
num_students_with_all_max_score = len(df[df['average_score'] == 100])
num_students_with_math_max_score = len(df[df['math_score'] == 100])
num_students_with_reading_max_score = len(df[df['reading_score'] == 100])
num_students_with_writing_max_score = len(df[df['writing_score'] == 100])

print("Number of students with maximum scores:")
print(f"- All subjects (average score): {num_students_with_all_max_score}")
print(f"- Math score: {num_students_with_math_max_score}")
print(f"- Reading score: {num_students_with_reading_max_score}")
print(f"- Writing score: {num_students_with_writing_max_score}")

Number of students with maximum scores:
- All subjects (average score): 3
- Math score: 7
- Reading score: 17
- Writing score: 14

In [38]:
num_students_with_score_less_than_threshold = len(df[df['average_score'] < 40])

print(f"- Number of students with scores less than threshold: {num_students_with_score_less_than_threshold}")

- Number of students with scores less than threshold: 30

In [39]:
#TODO - create plots, some useful insights